<ul class="task-list">
  <li *ngFor="let todo of todos; let i = index" class="task-list-item">
    <mat-card class="card-item">

      <div class="icons-container">
        <mat-checkbox class="check-box"></mat-checkbox>
        <div>
          <mat-icon id="{{i}}" class="edit-icon">edit</mat-icon>
          <mat-icon id="{{i}}" (click)="delete($event)" class="delete-icon">delete</mat-icon>
        </div>
      </div>

      <mat-card-content class="card-title">{{ todo.description }}</mat-card-content>
    </mat-card>
  </li>
</ul>
