.container {
  width: 40vw;
  margin: 2em 2em;
}

.material-Input {
  width: 100%;
  color: #fff;
  border-color: #fff;
}

.tasks-label {
  color: #fff;
  font-size: 1.25em;
}

.input-tasks {
  font-size: 1.5em;
  padding: 5px 0;
}

::placeholder {
  color: #fff;
}

.mat-icon {
  color: #fff;
  cursor: pointer;
  font-size: 2em;
}

.mat-icon:hover {
  color: #ff4081;
}
