@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap%27);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/post-it.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Rubik', sans-serif;
  height: 100%;
}
